{%  extends 'option_pricing/base.html' %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<div class="container bg-white text-dark">
	<div class="row">
        <div class="col-md-10">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#summary" class="nav-link active" role="tab" data-toggle="tab">Summary</a>
                </li>

                <li class="nav-item">
                    <a href="#chart" class="nav-link" role="tab" data-toggle="tab">Chart</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="summary">Summary</div>
                <div role="tabpanel" class="tab-pane" id="chart">
                    <button class="btn btn-success" onclick="updateChart()">Update</button>
                    <canvas id="optionChart" width="400" height="200">
                </div>
            </div>
		</div>
	</div>
</div>

<script> 
    var objId = "{{trade_symbol}}"
    var dataURL = `/options/chart_multiple/${objId}/`
    var dataURLvol = `/options/chart_multiple_vol/${objId}/`

    var state ={	
		'items':[],
		'values':[],
		'items_vol':[],
		'values_vol':[],        
        'items10':[],
		'values10':[],
        'items_vol10':[],
		'values_vol10':[], 
	}

    $.ajax({
        method: "GET",
        url: dataURL,
        success: function(response){
            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
				var value = Object.values(response[i])[0]
           
				state.items.push(key_stripped_stripped)
				state.values.push(value)

                state.items10 = state.items.slice(-10)
                state.values10 = state.values.slice(-10)      

                console.log(state.items)
                console.log(state.values)
            }
            //setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    $.ajax({
        method: "GET",
        url: dataURLvol,
        success: function(response){
            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
				var value = Object.values(response[i])[0]
           
				state.items_vol.push(key_stripped_stripped)
				state.values_vol.push(value)

                state.items_vol10 = state.items_vol.slice(-10)
                state.values_vol10 = state.values_vol.slice(-10)      

                console.log(state.items)
                console.log(state.values)
            }
            //setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })


    //function setChart(){
    var ctx = document.getElementById("optionChart");
    
    var optionChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: state.items,
        datasets: [{
            label: objId,
            data: state.values,
            yAxisID: 'A',
            borderWidth: 1,
            borderColor: 'rgba(66,139,202)',
            fill: false,
            order: 1
        },{
            type: 'bar',
            label: 'Volume',
            data: state.values_vol,
            yAxisID: 'B',
            borderWidth: 1,
            borderColor: 'rgba(251, 197, 251)',
            order: 2
        }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                id: 'A',
                position: 'left',
                type: 'linear',
                ticks: {
                    beginAtZero:true
                }
            },{
                id: 'B',
                position: 'right',
                type: 'linear',
                ticks: {
                    beginAtZero:true,
                    display: false
                },
                gridLines: {
                display:false
                }
            }
            ],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20,
                    maxRotation: 90,
                    minRotation: 90
                }
            }]
        },
        legend: {
            display: false,
        }
    }
    })

    function updateChart(){
        optionChart.data.labels = state.items10;
        optionChart.data.datasets[0].data = state.values10;
        optionChart.data.datasets[1].data = state.values_vol10;
        optionChart.update();
    };



</script>


{% endblock %}