{%  extends 'option_pricing/base.html' %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<div class="container bg-white text-dark">
	<div class="row">
        <div class="col-md-12">
            <p class="font-weight-bold">{{asset}} {{ optiontype }} {{ expmonth }} {{ expyear }} @ 
                {% if asset == 'FTSE' %}
                    {{ strike|add:"0" }}
                {% else %}
                    {{ strike }}
                {% endif %}
            </p>
        </div>
    </div>
</div>
<div class="container bg-white text-dark">
	<div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#summary" class="nav-link active" role="tab" data-toggle="tab">Summary</a>
                </li>

                <li class="nav-item">
                    <a href="#chart" class="nav-link" role="tab" data-toggle="tab">Chart</a>
                </li>
            </ul>

            <div class="my-3 tab-content">
                    <div role="tabpanel" class="tab-pane active" id="summary">
                        <div class="table-responsive">
                            <table class="table table-sm table-primary">
                                <thead>
                                    <tr>
                                        <th class="hidethis w-25" scope="col">#</th>
                                        <th class="hidethis w-25" scope="col">#</th>
                                        <th class="hidethis w-25" scope="col">#</th>
                                        <th class="hidethis w-25" scope="col">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="w-25">
                                            <div class="row">
                                                <div class="w-50 pl-3"><small>Asset:</small></div>
                                                <div class="w-50"><small class="font-weight-bold">{{asset}}</small></div>
                                            </div>
                                        </td>
                                        <td class="w-25">
                                            <div class="row">
                                                <div class="w-50 pl-3"><small>Latest Trading:</small></div>
                                                <div class="w-50"><small class="font-weight-bold">{{latest_trad_date}}</small></div>
                                            </div>
                                        </td>
                                        <td class="w-25">
                                            <div class="row">
                                                <div class="w-50 pl-3"><small>Implied Volatility:</small></div>
                                                <div class="w-50"><small class="font-weight-bold">{{imp_vol}}</small></div>
                                            </div>
                                        </td>
                                        <td class="w-25">
                                            <div class="row">
                                                <div class="w-50 pl-3"><small>Delta:</small></div>
                                                <div class="w-50"><small class="font-weight-bold">{{imp_vol}}</small></div>
                                            </div>
                                        </td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-2 w-25">
                                            <div style="float:left;width:50%;text-align: left;"><small>Option Type:</small></div>
                                            <div style="float:right;width:50%;text-align: left;"><small class="font-weight-bold">{{optiontype}}</small></div>
                                        </td>
                                        <td class="px-2 w-25">
                                            <div style="float:left;width:50%;"><small>Volume:</small></div>
                                            <div style="float:right;width:50%;text-align: left;"><small class="font-weight-bold">{{volume}}</small></div>
                                        </td>
                                        <td class="px-2 w-25">
                                            <div style="float:left;width:50%;"><small>Moneyness:</small></div>
                                            <div style="float:right;width:50%;text-align: left;">
                                                <small class="font-weight-bold">
                                                    {% if moneyness == 'OTM' %}
                                                    <div class="OTM-negative"> 
                                                    {% else %} 
                                                    <div class="ITM-positive">
                                                    {% endif %}
                                                    {{moneyness}}
                                                </small>
                                            </div>
                                        </td>
                                        <td class="px-2 w-25">
                                            <div style="float:left;width:50%;"><small>Gamma:</small></div>
                                            <div style="float:right;width:50%;text-align: left;"><small class="font-weight-bold">this is right</small></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-2 w-25">
                                            <div style="float:left;width:50%;text-align: left;"><small>Expiration Date:</small></div>
                                            <div style="float:right;width:50%;text-align: left;"><small class="font-weight-bold">{{expdate}}</small></div>
                                        </td>
                                        <td class="px-2 w-25">
                                            <div style="float:left;width:50%;"><small>Trades:</small></div>
                                            <div style="float:right;width:50%;text-align: left;"><small class="font-weight-bold">{{trades}}</small></div>
                                        </td>
                                        <td class="px-2 w-25">
                                            <div style="float:left;width:50%;"><small>Lifetime High:</small></div>
                                            <div style="float:right;width:50%;text-align: left;"><small class="font-weight-bold">{{lifetime_high}}</small></div>
                                        </td>
                                        <td class="px-2 w-25">
                                            <div style="float:left;width:50%;"><small>Theta:</small></div>
                                            <div style="float:right;width:50%;text-align: left;"><small class="font-weight-bold">this is right</small></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-2 w-25">
                                            <div style="float:left;width:50%;"><small>Exercise Price:</small></div>
                                            <div style="float:right;width:50%;text-align: left;"><small class="font-weight-bold">
                                                {% if asset == 'FTSE' %}
                                                    {{ strike|add:"0" }}
                                                {% else %}
                                                    {{ strike }}
                                                {% endif %}
                                            </small></div>
                                        </td>
                                        <td class="px-2 w-25">
                                            <div style="float:left;width:50%;"><small>Open Interest:</small></div>
                                            <div style="float:right;width:50%;text-align: left;"><small class="font-weight-bold">{{open_interest}}</small></div>
                                        </td>
                                        <td class="px-2 w-25">
                                            <div style="float:left;width:50%;"><small>Lifetime Low:</small></div>
                                            <div style="float:right;width:50%;text-align: left;"><small class="font-weight-bold">{{lifetime_low}}</small></div>
                                        </td>
                                        <td class="px-2 w-25">
                                            <div style="float:left;width:50%;"><small>Vega:</small></div>
                                            <div style="float:right;width:50%;text-align: left;"><small class="font-weight-bold">this is right</small></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <div role="tabpanel" class="tab-pane" id="chart">
                    <div class="container bg-white text-dark">
                        <div class="row">
                            <div class="col-md-11">
                                <canvas id="optionChart" width="400" height="200">
                            </div>
                            <div class="col-md-1">
                                <div class="btn-group-vertical">
                                    <button class="btn btn-link" onclick="updateChart()">10D</button>
                                    <button class="btn btn-link" onclick="updateChart()">10D</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

<script> 

    $('.hidethis').hide();

    var objId = "{{trade_symbol}}"
    var dataURL = `/options/chart/${objId}/`
    var dataURLvol = `/options/chart_vol/${objId}/`

    var state ={	
		'items':[],
		'values':[],
		'items_vol':[],
		'values_vol':[],        
        'items10':[],
		'values10':[],
        'items_vol10':[],
		'values_vol10':[], 
	}

    $.ajax({
        method: "GET",
        url: dataURL,
        success: function(response){
            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
				var value = Object.values(response[i])[0]
           
				state.items.push(key_stripped_stripped)
				state.values.push(value)

                state.items10 = state.items.slice(-10)
                state.values10 = state.values.slice(-10)      

                console.log(state.items)
                console.log(state.values)
            }
            //setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    $.ajax({
        method: "GET",
        url: dataURLvol,
        success: function(response){
            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
				var value = Object.values(response[i])[0]
           
				state.items_vol.push(key_stripped_stripped)
				state.values_vol.push(value)

                state.items_vol10 = state.items_vol.slice(-10)
                state.values_vol10 = state.values_vol.slice(-10)      

                console.log(state.items)
                console.log(state.values)
            }
            //setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })


    //function setChart(){
    var ctx = document.getElementById("optionChart");
    
    var optionChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: state.items,
        datasets: [{
            label: objId,
            data: state.values,
            yAxisID: 'A',
            borderWidth: 1,
            borderColor: 'rgba(66,139,202)',
            fill: false,
            order: 1
        },{
            type: 'bar',
            label: 'Volume',
            data: state.values_vol,
            yAxisID: 'B',
            borderWidth: 1,
            borderColor: 'rgba(244, 137, 244)',
            order: 2
        }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                id: 'A',
                position: 'left',
                type: 'linear',
                ticks: {
                    beginAtZero:true
                }
            },{
                id: 'B',
                position: 'right',
                type: 'linear',
                ticks: {
                    beginAtZero:true,
                    display: false
                },
                gridLines: {
                display:false
                }
            }
            ],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20,
                    maxRotation: 45,
                    minRotation: 45
                }
            }]
        },
        legend: {
            display: false,
        }
    }
    })

    function updateChart(){
        optionChart.data.labels = state.items10;
        optionChart.data.datasets[0].data = state.values10;
        optionChart.data.datasets[1].data = state.values_vol10;
        optionChart.update();
    };



</script>


{% endblock %}